<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!-- Planning -->
      <div class="card-dash">
        <div class="card-head">
          <div class="card-title">Planning</div>
        </div>
        <div class="planning-nav">
          <button onclick="changerSemaine(-1)">&#8249;</button>
          <span id="semaine-label">Chargement...</span>
          <button onclick="changerSemaine(1)">&#8250;</button>
        </div>
        <table class="planning-grid" id="planning-table">
          <thead>
            <tr>
              <th>H.</th>
              <th id="jour-0"></th><th id="jour-1"></th>
              <th id="jour-2"></th><th id="jour-3"></th>
              <th id="jour-4"></th><th id="jour-5"></th><th id="jour-6"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="heure">6h</td>
              <td id="cell-0-6"></td><td id="cell-1-6"></td>
              <td id="cell-2-6"></td><td id="cell-3-6"></td>
              <td id="cell-4-6"></td><td id="cell-5-6"></td><td id="cell-6-6"></td>
            </tr>
            <tr>
              <td class="heure">12h</td>
              <td id="cell-0-12"></td><td id="cell-1-12"></td>
              <td id="cell-2-12"></td><td id="cell-3-12"></td>
              <td id="cell-4-12"></td><td id="cell-5-12"></td><td id="cell-6-12"></td>
            </tr>
            <tr>
              <td class="heure">18h</td>
              <td id="cell-0-18"></td><td id="cell-1-18"></td>
              <td id="cell-2-18"></td><td id="cell-3-18"></td>
              <td id="cell-4-18"></td><td id="cell-5-18"></td><td id="cell-6-18"></td>
            </tr>
            <tr>
              <td class="heure">23h</td>
              <td id="cell-0-23"></td><td id="cell-1-23"></td>
              <td id="cell-2-23"></td><td id="cell-3-23"></td>
              <td id="cell-4-23"></td><td id="cell-5-23"></td><td id="cell-6-23"></td>
            </tr>
          </tbody>
        </table>
        <div class="planning-btns">
          <a href="{{url_for('taches.liste_taches')}}" class="btn-planning">Voir mes tâches</a>
          <a href="{{ url_for('auth.reservations') }}" class="btn-planning">Voir mes réservations</a>
        </div>
      </div>

</body>
</html>